@use "../base/mixins" as *;

.etp-cards {
  --cards-columns: 3;

  margin-top: var(--spacing-xl);

  padding-right: var(--spacing-xl);
  padding-left: var(--spacing-xl);
  @include respond-max(desktop) {
    padding-right: var(--spacing-4xl);
    padding-left: var(--spacing-4xl);
  }

  @include respond-max(mobile-landscape) {
    padding-right: var(--spacing-xl);
    padding-left: var(--spacing-xl);
  }

  @include respond-max(mobile-portrait) {
    padding-right: var(--spacing-lg);
    padding-left: var(--spacing-lg);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(var(--cards-columns), minmax(0, 1fr));
    gap: var(--spacing-xl) var(--spacing-md);

    @include respond-max(tablet-portrait) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include respond-max(mobile-landscape) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

.etp-card {
  background: var(--bricks-color-xzosuj);
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__image {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    overflow: hidden;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    padding: var(--spacing-xl) var(--spacing-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    justify-content: space-between;
    flex: 1;
  }

  &__title {
    font-size: var(--font-size-lg);
    font-weight: 700;
    line-height: var(--line-height-130);
    color: #172b4d;
    text-decoration: none;
    display: inline-block;
    margin-bottom: var(--spacing-xl);
  }

  &__text {
    color: #415171;
    font-size: var(--font-size-base);
    line-height: var(--line-height-150);
  }

  &__cta {
    margin-top: auto;
    font-weight: 600;
    color: #0d4acd;
    text-decoration: none;
    display: inline-flex;
    gap: 6px;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
  }
}
