.etp-hero {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 800px;
  background-color: var(--bricks-color-ebsaml);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;

  @include respond-max(desktop) {
    height: 720px;
  }

  @include respond-max(tablet-portrait) {
    height: 640px;
  }

  @include respond-max(mobile-landscape) {
    flex-direction: column;
    height: auto;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--hero-image, none) center / cover no-repeat;
    filter: grayscale(1);
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;

    @include respond-max(tablet-portrait) {
      display: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #FFF;
    opacity: 0.6;
    z-index: 0;
    pointer-events: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 55%;
    gap: 2rem 0;
    position: relative;
    z-index: 1;
    align-items: stretch;
    padding: var(--spacing-xl) var(--spacing-xl) var(--spacing-5xl) var(--spacing-xl);
    margin-left: calc((100vw - 1488px) / 2 - var(--spacing-xl));

    @include respond-max(desktop-wide) {
      margin-left: 0;
    }

    @include respond-max(desktop) {
      padding: var(--spacing-xl) var(--spacing-4xl) var(--spacing-5xl) var(--spacing-4xl);
    }

    @include respond-max(tablet-portrait) {
      padding: var(--spacing-xl) var(--spacing-4xl) var(--spacing-4xl) var(--spacing-4xl);
      flex-basis: 100%;
    }

    @include respond-max(mobile-landscape) {
      padding: var(--spacing-xl) var(--spacing-lg) var(--spacing-2xl) var(--spacing-lg);
    }
  }

  &__media {
    flex-basis: 45%;
    z-index: 1;

    @include respond-max(tablet-portrait) {
      flex-basis: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__breadcrumbs {
    font-size: var(--font-size-base);
    line-height: var(--line-height-160);
    margin-bottom: var(--spacing-2xl);
    font-weight: 400;
    letter-spacing: 0.1px;

    @include respond-max(desktop) {
      margin-bottom: var(--spacing-xl);
    }
  }

  &__headline {
    margin: 0;
    font-size: var(--font-size-8xl);
    font-weight: 600;
    letter-spacing: -1px;
    line-height: var(--line-height-125);

    @include respond-max(desktop) {
      font-size: var(--font-size-7xl);
    }

    @include respond-max(tablet-portrait) {
      font-size: var(--font-size-5xl);
    }

    @include respond-max(mobile-landscape) {
      font-size: var(--font-size-3xl);
    }
  }

  &__text {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-155);
    letter-spacing: -0.5%;
    font-weight: 400;
    margin-top: var(--spacing-2xl);

    @include respond-max(tablet-portrait) {
      font-size: var(--font-size-base);
    }

    p {
      margin: 0;
    }

    p + p {
      margin-top: 0.85em;
    }
  }

  &__image {
    display: none;
  }
}
