// Styles for the newsletter CTA element.
.etp-newsletter {
  margin-top: var(--spacing-4xl);
  margin-bottom: var(--spacing-4xl);

  padding-right: var(--spacing-xl);
  padding-left: var(--spacing-xl);
  @include respond-max(desktop) {
    padding-right: var(--spacing-4xl);
    padding-left: var(--spacing-4xl);
  }

  @include respond-max(mobile-landscape) {
    padding-right: var(--spacing-xl);
    padding-left: var(--spacing-xl);
  }

  @include respond-max(mobile-portrait) {
    padding-right: var(--spacing-lg);
    padding-left: var(--spacing-lg);
  }

  &__content {
    border-radius: 8px;
    background-color: var(--bricks-color-vdykac);
    padding: var(--spacing-2xl);

    @include respond-max(mobile-portrait) {
      padding: var(--spacing-xl);
    }
  }

  &__headline {
    font-size: var(--font-size-2xl);
    margin-top: 0;
    margin-bottom: var(--spacing-sm);
    line-height: var(--line-height-130);
    max-width: 450px;

    @include respond-max(mobile-landscape) {
      font-size: var(--font-size-xl);
      max-width: unset;
    }
  }

  &__text {
    font-size: var(--font-size-base);
  }
}
