/*
Theme Name: ETP Theme
Theme URI: https://example.com/etp-theme
Description: Bricks Child Theme for Emerging Tech Policy.
Author: Matthias Seidel
Author URI: https://example.com
Template: bricks
Version: 1.0.0
Text Domain: etp-theme
*/

/* Built assets will be compiled into this file via Gulp. */
