@use "sass:map";
@use "./variables" as vars;

@mixin respond-min($value) {
  $size: map.get(vars.$breakpoints, $value);
  @if $size == null {
    $size: $value;
  }

  @media (min-width: $size) {
    @content;
  }
}

@mixin respond-max($value) {
  $size: map.get(vars.$breakpoints, $value);
  @if $size == null {
    $size: $value;
  }

  @media (max-width: $size) {
    @content;
  }
}
